[submodule "external/sophus"]
	path = external/sophus
	url = git@github.com:williammc/sophus.git
[submodule "external/cmaker"]
	path = external/cmaker
	url = git@github.com:williammc/cmaker.git
[submodule "external/eigen"]
	path = external/eigen
	url = git@github.com:williammc/Eigen.git
[submodule "external/fast"]
	path = external/fast
	url = git@github.com:williammc/fast.git
[submodule "external/vikit"]
	path = external/vikit
	url = git@github.com:uzh-rpg/rpg_vikit.git
